@import url('https://fonts.googleapis.com/css2? family= Kolker+Brush & display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    
}

.header {
    background-color: #768577;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    padding: 5px 10px;

}

.header .logo img {
    height: 95px;
    width: auto;
    transition: all 1.5s;
    
}

.header .logo img:hover {
    transform: scale(1.6);
}

.header .nav-links {

    list-style: none;

}

.header .nav-links li {
    display: inline-block;
    padding: 20px;
    transition: all 2s;
}
.header .nav-links li:hover {
    transform: scale(1.3)
}

.header .nav-links li a {
    font-size: 700;
    color: #333;
    text-decoration: none;
}
.header .nav-links li a:hover {
    color: 111;
}

.header .btn button{
    font-weight: 800;
    color: #333;
    padding: 9px 25px;
    background-color: #6a886c;
    border: #333 solid;
    border-radius: 50px;
   font-family: 'Kolker Brush', cursiva;
    transition: all 0.5s ease 0s;

    
}
.header .btn button:hover{
    transform: scale(1.1);
}

.container-carousel img{
    width: 80%;
    height: 600px;

}

.height--img {
    
    height: 600px;
}



h1 {
    width: 70%;
    background-color: #6a886c;
    text-align: center;

}

.productos  {
    
    background-color: #6a886c;
    width: 70%;
    float: left;

}

.ellas {
   
    margin: 10px;
    width: 350px;
    height:  400px;
    box-sizing: border-box;
    float: left;
    
}

.ellos {
    
    margin: 10px;
    width: 350px;
    height: 400px;
    box-sizing: border-box;
    float: left;
}


aside { 
       
    display: inline;
    box-sizing: border-box;
   
 

}
aside p {
    font-size: 15px;
    font-family: cursive;
    text-align: center;
}
h2{
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
}

h3{
    font-size: 25px;
}

section {
    text-align: center;
    padding: 25px;
}
.Button {
    
    border: 1px solid aqua;
    text-align: center;

}

    /*pie-de-pagina*/
   
.pie-pagina {
    width: 100%;
    background-color: #777;
   
    

}

.pie-pagina .clase-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 300px;
    padding: 40px 0px;
}

.pie-pagina .clase-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .clase-1 .box figure img {
    width: 200px;
}

.pie-pagina .clase-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .clase-1 .box p {
    color: antiquewhite;
    margin-bottom: 15px;
}

.pie-pagina .clase-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 5px;
    background-color: #677;
    text-align: center;
    transition: all 1s ease;

}

.pie-pagina .clase-1 .red-social a:hover {
    color: #6a886c;

}

.pie-pagina .clase-2 {
    background-color: #677;
    padding: 15px 10px;
    text-align: center;
    color: antiquewhite;
}
@media screen and (max-width:800px){
    .pie-pagina .clase-1 {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 100px;
        padding: 20px 0px;
    }
}